.DS_Store
.git
.gitignore
.hg
.hgignore
.hgtags
.claude
.idea
.vscode

browser_info
heaps
contrib
dump
test
z3

mirabelle
mirabelle_*
mirabelle*.log
mirabelle*.out
*.log

**/.DS_Store
**/__pycache__
**/*.pyc
**/*~
**/#*#
third_party/cvc5/.git
third_party/cvc5/build
third_party/cvc5/.build
third_party/cvc5/**/*.o
third_party/cvc5/**/*.a
third_party/cvc5/**/*.so
third_party/cvc5/**/*.dylib
